.site-card-border-less-wrapper {
  background: #ececec;
   /* width: 100%;
  height: 80%; */
 
  padding-top: 0px;
  padding-bottom: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.card {
  height: auto;
  width: auto;
  /* padding: 30px; */
}
.mynavbar {
  justify-content: start;
  background-color: white;
  border: 1px solid rgb(201, 200, 200, 0.3);
  
}
.btnLogout{
    /* margin: auto !important; */
    text-align: center;
  
   
}



.logo {
  padding: 2px;
}
/* .sidebar{
    width: 10px !important;
    background-color: black;

} */



.ant-layout-sider {
    background-color: white;
   max-width: 4rem !important;
   min-width:4rem !important;
   justify-content: center;
   height: auto;
 
   

}
.ant-btn{
    display: flex;
    border-radius: 5px;
    border: none;
    
   
    justify-content: center;
    padding: 0.5rem;
    margin: auto;
   
    text-align: center;
    height: auto;
    width: auto;
    align-items: center;
}
.btn{
    /* margin-top: 3rem; */
    background-color: white;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
  
}
.btn:hover{
    background-color: #086288;
}
.btn:visited{
    background-color: #086288;
}

.btn:active{
    
    background-color: #086288;
}
/* _____________________________________________________________________ */


.btn__team{
    background-image: url("../Assets/team.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

}

 .btn__team:visited{
    
    background-image: url("../Assets/team1.png") !important;
    background-repeat: no-repeat!important;
    background-position: center!important;
} 
.btn__team:active{
    background-image: url("../Assets/team1.png") !important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    

} 
.btn__team:hover{
    background-image: url("../Assets/team1.png") !important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    

} 
.btn_batch{
    background-image: url("../Assets/batch.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

}

 /* .btn_batch:visited{
    
    background-image: url("../Assets/batch1.png") !important;
    background-repeat: no-repeat!important;
    background-position: center!important;
} 
.btn_batch:active{
    background-image: url("../Assets/batch1.png") !important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    

}  */
/* .btn_batch:hover{
    background-image: url("../Assets/batch1.png") !important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    

}  */
/* ___________________________________________________________________________ */
.btn__add{
    background-image: url("../Assets/add.png") !important;
    background-repeat: no-repeat!important;
    background-position: center!important;

}
.btn__add:visited{
    
    background-image: url("../Assets/add1.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
} 
.btn__add:active{
    background-image: url("../Assets/add1.png") !important;
    background-repeat: no-repeat!important;
    background-position: center !important;
    

} 
.btn__add:hover{
    background-image: url("../Assets/add1.png") !important;
    background-repeat: no-repeat!important;
    background-position: center !important;
    

} 
.card_table{
    margin: 0px;
    height: 98%;
    width: 100%;
    
}
/* .btn_batch{
    background-color: #086288;
    background-image: url("../Assets/batch1.png");
    
} */

.menu_div{
    font-size: small;
    color: gray;
    margin-top: 0px;
    padding: 1rem;
    font-family: Open Sans, Semibold;
}
.ant-table-thead{
    background-color: #E9EEF7;

}
.ant-table-pagination {
    display: none;

}
.table{
    justify-self: center;
    
}
 .active{
    background-color: #086288;
    background-image: url("../Assets/batch.png");
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.ant-radio-group{
    /* margin: 10px; */
    border: none;
    padding: 0.5rem;
    

} 
.ant-radio-group-outline{
  
  
    border-radius: 8px;
    margin: 0px;
    padding: 0px

} 
/* .ant-radio-button-wrapper:first-child{
    border-radius: 8px;
}
.ant-radio-button-wrapper:last-child{
    border-radius: 8px;
}
.ant-radio-button{
    border-radius: 8px;
} */
/* .ant-radio-button-wrapper{
    border-radius: 0.5rem;
    margin-top: 0.05rem;
    margin-left: 0.25rem;  
} */
/* .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
    background: red;
}
.ant-radio-button-wrapper-disabled{
background-color: blue;
} */
.btn_btnfun{
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
    
    
   
    
  
    /* background-image:url("../Assets/batch.png") ; */
}
.ant-radio-button-wrapper.btn_btnfun {
    border-radius: 8px;
    margin: 2px;
    border: white;
    


}
.ant-radio-button.ant-radio-button-checked{
    background-color: #086288;
    border-radius: 8px;
    border: white;
    
}
.btn_batch{
    background-image: url("../Assets/batch1.png");
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.img_logo{
    position: relative;
    justify-content: center;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 0px;
    transform: translate(5% -55%);

    
   
}
.fullScreen{
    height: 100%;
    width: 100%;
}
.batch_list{
    justify-content: center;
    color: #FAA81D;
    font-size: 0.75rem;
    padding: 1rem;
    font-family: Open Sans, Semibold;
    font-weight: 1rem;
}
.batch_search{
margin-top: 0.6rem;
height: 5px !important;
margin-left: auto; 
margin-right: 1.5%;
}
.batch_btn{
margin-top: 2rem;
padding: 10px;
height: 30px;
margin: 10px;
font-size: 0.75rem;
border-radius: 7px;
font-family: Open Sans, Semibold;
border: 1px solid #D89119 ;
color: white;
background: #FAA81D;

}
.btn_hide{
    display: none!important;
}
a:hover{
    color: #FAA81D !important;

}
.home_hover {
    color:  gray;

}
.menu_div a{
    display:flex;
    float: left;
}
