/* .ant-collapse-arrow{
    transform: translateY(100%) !important;
    transform: rotate(0deg) !important;
    border: 1px solid red;

} */
.ant-collapse-content-hidden{
    /* display:flex !important; */
    width: 1000px !important;

    
}
/* .collapsStyle{
    border:2px solid green;
    
    
}*/
.ant-collapse-header{
    /* display: flex !important; */

    /* border:  1px solid red; */
    width: 1000px; 
    color:#086288 !important ;
   
 } 
 .ant-col-20{
     /* float:none ; */
     flex-basis:0% !important
 }
 .CollapseStyle{
     /* background-color: red; */
     border: 1px solid gainsboro;
     min-height: 2rem;
     padding: 2rem;
     /* margin: 1rem; */
     /* width: 60%; */
     border-radius: 8px;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

 }
 .CollapseStyle:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }
 a{
     float: right;
 }


 