.R_form{
    border:1px solid red;
    width:30rem !important;
    /* height: 10rem !important; */
    

}
.card_style{
    width: 500px;
    height: 500px !important;
}
/* .re_button_div{
   
    border: 1px solid gray;
    border-radius: 8px;

} */

.cardRenderStyle{
    display: flex;
    margin-top: 0px;
    justify-content: center;
    /* border: 1px solid gainsboro ; */

}
.cardComp1{
    
    
   
  
  
    margin: auto !important;
    margin-top: 2rem !important;
    margin-bottom: 5rem !important;
    padding: 20px;
    border: 1px solid gainsboro;
    width: 80%;
    background-color: white;
   
   
}
.cardComp2{
    
    border-radius: 8px;
    bottom: 0;
    position: fixed;
 
    width: 60%;
    margin: auto; 
    padding: 0px !important;
    position: sticky;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    
}
.cardComp2:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.myStyle{
    width: 5rem;
}
.inputStyle{
    height: 3rem !important;
    width: 26rem;
    margin: 6px;
    margin-right: 1rem;
    margin-left: 1.75rem;
    border: 1px solid #E1E1E1 ;
}
.inputFormText{
    
    /* margin: 10px; */
    margin-right: 1.5rem;
    margin-left: 2rem;
    color:#a09f9f;
    font-family:"Open Sans, Regular";
}
element.style{
    margin: 2% !important;
}

.fullFormStyle{
    height: 100%;
    width: auto;
    background-color: #f7f6f6;
    display:flex
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #086288;
}
button{
    margin: 15px !important;
}
footer{
    height: 100px; 
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0; 
}