/* .item1{
    height: 100% ;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;  
}
div{
    height: 100%;
    width: 100%;
}
.back_img{
    height: 100%;
    width: 100%;
  
}

.side2{
    height: 100%;
    width: 100%;
    background:rgb(69, 68, 68);
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
   
   
}
.container{
    display:flex;
    position: absolute;
}
.text1{
    color: white;
    font-weight: 500;
    text-align:left;
    font-size:70px;
    margin-top: 400px;
    padding: 30px;
    position: fix;
}

/* __________________________________________________ 

.image2{
    margin: 50px;

}
.login_text{
    color: rgba(255, 170, 23, 1);
    font-size: 20px;
    font-weight:bold;
    font-family: Abril Fatface, Regular;
    
    text-align: center;

}
.input{
    width: 327px;
   margin: 0px;
   border-radius: 8px;

}
.btn_login{
    margin: 25px;
    width: 327px;
    text-align: justify;
    border-radius: 8px;
    background-color: rgba(255, 170, 23, 1);

}
.btn_cancel{
    border-radius: 8px;
    width: 165px;
    background:rgb(69, 68, 68);
    transform: translate(82px, -58px);
    border-color: rgba(255, 170, 23, 1);
    
    

}
.text_e_id{
    transform:translate(-120px,12px);
    color: white;
    text-align: left;
    margin-left: 24%;
   text-align: center;
    width: 327px;
   
    
}

.text_e_pass{
    transform:translate(-130px,12px);
    color: white;
    text-align: left;
    margin-left: 24%;
   text-align: center;
    width: 327px;
    
}



.copyright{
    color: #E7E7E7;
}
.box{  
    
    border: 1px solid red;
    border-radius: 0px;

}



 */





/* 
.log_bg_class{ */
    /* display: flex; */
    /* width:100%;
    height:100%; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-image: url(./Assets/bg.png); */
    /* background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    
    
    

   /* }
   .item{
       
   } */



























