/* *{ 
    /* background: url('../../Assets/bg.png') ; 
   background-image: url(./Assets/bg.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: rgb(69, 68, 68);;
   
   } */
   /* .card_loging{
       display: flex;
       position:absolute;
   } */
   /* .log_comp{
      
     
   }
   .log_bg_class{
    background-image: url(./Assets/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(69, 68, 68);

   }
    */